:root {
  --white: #f2f0ef;
  --black: #221c1b;
  --gray: #8A8685;
  --link-light: #6977C5;
  --link-dark: #7A83B4;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--white);
  --color-text: var(--black);
}
a {
  color: var(--link-light);
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--black);
    --color-text: var(--white);
  }
  a {
    color: var(--link-dark);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
